<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Calendar</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
		<style>
			body{
			background-color:#ddd;
			padding:0px;
			margin:0px;
			}
			#popup {
			width:350px;
			height:250px;
			position:fixed;
			background-color:white;
			border:1px solid #e0e0e0;
			-webkit-box-shadow: 0px 0px 11px 0px rgba(230,230,230,1);
			-moz-box-shadow: 0px 0px 11px 0px rgba(230,230,230,1);
			box-shadow: 0px 0px 11px 0px rgba(230,230,230,1);
			z-index:1500;
			padding:20px;
			text-align:center;
			}
			.top {
			color:#555;
			font-family:calibri;arial;
			font-size:30px;
			padding:20px 50px;
			text-align:left;
			}
			.mainTable {
			margin:0 auto;
			width:80%;
			text-align:center;
			border-collapse:collapse;
			}
			.secTable {
			margin:0 auto;
			width:80%;
			text-align:left;
			}
			#functionTable {
			margin:0 auto;
			width:80%;
			text-align:center;
			border-collapse:collapse;
			}
			.mainCell {
			padding:30px 10px;
			color:#888;
			font-size:24px;
			border:1px solid #ddd;
			background-color:#fff;
			}
			.mainDayCell {
			padding:3px 10px;
			color:#888;
			font-size:12px;
			border:1px solid #ddd;
			background-color:#fff;
			}
			.secCell {
			padding:5px 5px;
			margin-right:10px;
			width:100px;
			color:#333;
			float:left;
			display:block;
			background-color:#ddd;
			text-align:right;
			}
			.event {
			padding:20px 10px;
			color:#333;
			font-size:16px;
			border:1px solid #ddd;
			background-color:#fff;
			}
			.mainCellNext {
			padding:30px 10px;
			color:#888;
			font-size:24px;
			border:1px solid #ddd;
			background-color:#bbb;
			}
			.mainCellEvent {
			padding:30px 10px;
			color:#fff;
			font-size:24px;
			border:1px solid #ddd;
			background-color:#00B4FF;
			}
			.mainDayCellEvent {
			padding:3px 10px;
			color:#fff;
			font-size:12px;
			border:1px solid #ddd;
			background-color:#00B4FF;
			}
			.functionCell {
			padding:30px 10px;
			color:#000;
			font-size:24px;
			background-color:#fff;
			border:1px solid #ddd;
			}
			.bouton_style {
			display:inline;
			padding: 10px 25px;
			margin:0px;
			background-color:white;
			font-size:18px;
			font-family: calibri;
			border:none;
			}
			.bouton_style:hover {
			background-color:#f0f0f0;
			}
			.bouton_style:active {
			background-color:#e0e0e0;
			}
			.bouton_style:focus {
			outline: none;
			}
			#map_canvas {
			height: 100%;
			}
		</style>
		
		<script>
			$(function() {
				$( "#datepicker1" ).datepicker({ dateFormat: 'yy-mm-dd' });
				$( "#datepicker2" ).datepicker({ dateFormat: 'yy-mm-dd' });
			});
			var html="", tempHtml="", formattedAttributeValue="";
			var jsonData = "";
			var id = "";
			var dayWithEvents = [];
			var hourWithEvents = [];
			var temp = [],verif = [];
			var dateNowJS = new Date();
			var monthJS = dateNowJS.getMonth();
			var upDescEvent = "", upLocEvent = "", upStartDate = "", upStartHour = "", upEndDate = "", upEndHour = "";
			var timeFormat = "YYYY-D-MM HH:mm";
            var dateFormat = "YYYY-MM-D";
            var hourFormat = "HH:mm";
			function loadEvents(eventsInJson, monthJSVar) {
				dayWithEvents = [];
				html="<div class='secTable'>";
				$(eventsInJson).each(function(i,val){
					html += "<div class='event'>";
					$.each(val,function(k,v){
						if(k == "_id") { 
							id  = v; 
						} else if (k == "description"){ 
							upDescEvent = v;
						} else if (k == "location"){ 
							upLocEvent = v;
						} else if (k == "startTime" || k == "endTime") {
							temp = v.toString().split("T"); 
							temp = temp[0].split("-");
							verif = temp[2].split("");
							if(temp[1] == (monthJSVar+1)) {
								if(verif[0] == "0") {
									dayWithEvents.push(verif[1]);
									
								} else {
									dayWithEvents.push(temp[2]);
								}
							}
						}
						if(k == "startTime") {
                            var m = moment(new Date(v));
							upStartDate = m.format(dateFormat);
							upStartHour = m.format(hourFormat)
						}
						if(k == "endTime") {
                            var m = moment(new Date(v));
							upEndDate = m.format(dateFormat);
							upEndHour =  m.format(hourFormat)
							
							html+="<div style='float:right;margin:10px;'><input type='button' class='bouton_style' style='color:#888;padding:5px;font-size:12px;' value='Delete' onclick=\"delEvent('"+id+"');\"/></div>";
							html+="<div style='float:right;margin:10px;'><input type='button' class='bouton_style' style='color:#888;padding:5px;font-size:12px;' value='Update' onclick=\"openWindow2('"+id+"','"+upDescEvent+"','"+upLocEvent+"','"+upStartDate+"','"+upStartHour+"','"+upEndDate+"','"+upEndHour+"');\"/></div>";
						}
						tempHtml = k;
						tempHtml = tempHtml.replace("_id", "ID");
						tempHtml = tempHtml.replace("description", "Description");
						tempHtml = tempHtml.replace("location", "Location");
						tempHtml = tempHtml.replace("startTime", "Start time");
						tempHtml = tempHtml.replace("endTime", "End time");


                        formattedAttributeValue = formatAttributeValue(k,v);
						html += "<div class='secCell'>"+tempHtml+"</div><div style='padding:5px;'>"+formattedAttributeValue+"</div>";
					});
					html += "</div>";
				});
				html += "</div>";
				return dayWithEvents;
			}

            function formatAttributeValue(key, value) {
                if (!value) {
                    return "-"
                }
                else {
                    if(key == "startTime" || key == "endTime") {
                        return moment(new Date(value)).format(timeFormat)
                    }
                    else {
                        return value.toString() == "" ? "-" : value.toString();
                    }
                }
            }

			function loadDayEvents(eventsInJson, monthJSVar, LoadedDay) {
				hourWithEvents = [];
				$(eventsInJson).each(function(i,val){
					$.each(val,function(k,v){
						if(k == "_id") { 
							id  = v; 
						} else if (k == "description"){ 
							upDescEvent = v;
						} else if (k == "location"){ 
							upLocEvent = v;
						} else if (k == "startTime" || k == "endTime") {
							temp = v.toString().split("T"); 
							temp = temp[0].split("-");
							verif = temp[2].split("");
							if(temp[1] == (monthJSVar+1)) {
								if(verif[0] == "0") {
									if(verif[1] == LoadedDay) {
										temp = v.toString().split("T"); 
										temp = temp[1].toString().split(":");
										verif = temp[0].split("");
										if(verif[0] == "0") {
											hourWithEvents.push(verif[1]);
										} else {
											hourWithEvents.push(temp[0]);
										}
										hourWithEvents.push(upDescEvent);
									}
								} else {
									if(temp[2] == LoadedDay) {
										temp = v.toString().split("T"); 
										temp = temp[1].toString().split(":"); 
										verif = temp[0].split("");
										if(verif[0] == "0") {
											hourWithEvents.push(verif[1]);
										} else {
											hourWithEvents.push(temp[0]);
										}
										hourWithEvents.push(upDescEvent);
									}
								}
							}
						}
					});
				});
				return hourWithEvents;
			}
			
			
		</script>
    </head>
    <body>

		<div id="popup" style="display:none;">
			<h3 id="popup_titre" style="margin:0px;"></h3>
			<div id="popup_contenu"></div>
		</div>
		<div class="top">
			Calendar
			<div style="float:right;">
				<form method="get" action="/event">
					<input type="button" class="bouton_style" style="color:#888;margin:0px;" value="Add" onclick="openWindow(2,0)" />
					<input type="button" class="bouton_style" style="color:#888;margin:0px;" value="Sync. to Google" onclick="syncTo()" />
					<input type="button" class="bouton_style" style="color:#888;margin:0px;" value="Sync. from Google" onclick="syncFrom();" />
				</form>
			</div>
		</div>
		<div id="corps">
			<center>
				<table id="functionTable">
					<tr>
						<td class="mainCell" id="setMonth"></td>
					</tr>
				</table>
	    		<table class='mainTable' id="mainCalendar">
				</table>
				<div class="top">List of events
					<div style="float:right;">
						<input type="text" name="searchQuery" id="searchBar" class="bouton_style" style="text-align:left;margin:0px;" placeholder="Search" required/>
						<input type="button" class="bouton_style" style="color:#888;margin:0px;" value="Find" onclick="findEvent(document.getElementById('searchBar').value);"/>
					</div>
				</div>
				<div id="donnees" style="margin:20px 0px 30px 0px;"></div>
			</center>
		</div>
		<script> 
			
			function showEvents() {
				document.getElementById('donnees').innerHTML = html;
			}
			
			
			var dateNow = new Date();
			var day = dateNow.getDay();
			var month = dateNow.getMonth();
			var year = dateNow.getFullYear();
			var tableMonth = ["Jan.","Feb.","Mar.","Apr.","May","Jun.","Jul.","Aug.","Sep.","Oct.","Nov.","Dec."];
			var tableDay =[31,29,31,30,31,30,31,31,30,31,30,31];
			
			function getCalendar(showMonth,showYear,operation) {
				var html2 = "";
				showMonth = showMonth + operation;
				if(showMonth < 0) { showYear -= 1; showMonth = 11; }
				if(showMonth > 11) { showYear += 1; showMonth = 0; }

				for(var i=0;i<tableMonth.length;i++) {
					if(i==showMonth) {	
						document.getElementById('setMonth').innerHTML = "<input type='button' class='bouton_style' style='float:left;' value='<' onclick='getCalendar("+showMonth+","+showYear+",-1);' />" + tableMonth[i] + "<input type='button' class='bouton_style' style='float:right;' value='>' onclick='getCalendar("+showMonth+","+showYear+",1);' />";
					}
				}
				
				for(var i = 0 ; i < 5 ; i++) {
					html2 += "<tr>";
					for(var j = 1 ; j <= 7 ; j++) {
						if(7*i+j <= tableDay[showMonth]) {
							html2 += "<td class='mainCell' id='cell"+ (7*i+j) +"' onclick='getDayCalendar("+(7*i+j)+","+showMonth+","+showYear+",0);'>"+ (7*i+j) +"</td>";
						} else {
							html2 += "<td class='mainCellNext'>"+ ((7*i+j)-tableDay[showMonth]) +"</td>";
						}
					}
					html2 += "</tr>";
				}
				document.getElementById('mainCalendar').innerHTML = html2;
				var dayWithEvents = loadEvents(jsonData, showMonth);
				colorDayWithEvents(dayWithEvents);
			}
			
			function getDayCalendar(showDay,showMonth,showYear,operation) {
				var html2 = "";
				showDay = showDay + operation;
				if(showDay < 1) { showMonth -= 1; showDay = tableDay[showMonth]; }
				if(showDay > tableDay[showMonth]) { showMonth += 1; showDay = 1; }
				if(showMonth < 0) { showYear -= 1; showMonth = 11; }
				if(showMonth > 11) { showYear += 1; showMonth = 0; }

				for(var i=0;i<tableMonth.length;i++) {
					if(i==showMonth) {	
						document.getElementById('setMonth').innerHTML = "<input type='button' class='bouton_style' style='float:left;' value='<' onclick='getDayCalendar("+showDay+","+showMonth+","+showYear+",-1);' /><a href='#' style='color:#00B4FF; text-decoration:none;' onclick='getCalendar("+showMonth+","+showYear+",0);'>Month view</a> > " + tableMonth[i] + " " + showDay + "<input type='button' class='bouton_style' style='float:right;' value='>' onclick='getDayCalendar("+showDay+","+showMonth+","+showYear+",1);' />";
					}
				}
				
				for(var i = 0 ; i < 24 ; i++) {
					html2 += "<tr>";
					html2 += "<td class='mainDayCell' style='width:20%;'>"+ i +":00</td><td class='mainDayCell' id='cellDay"+ i +"' onclick='openWindow(1,"+ showDay +");'></td>";
					html2 += "</tr>";
				}
				document.getElementById('mainCalendar').innerHTML = html2;
				var hourWithEvents = loadDayEvents(jsonData, showMonth, showDay);
				colorHourWithEvents(hourWithEvents);
			}
			
			function colorHourWithEvents(hourWithEventsVar) {
				for(var i=0; i<hourWithEventsVar.length; i++) {
					if(i%2 == 0) {
						document.getElementById('cellDay'+hourWithEventsVar[i]).className = "mainDayCellEvent";
					} else {
						document.getElementById('cellDay'+hourWithEventsVar[i-1]).innerHTML = hourWithEventsVar[i];
					}
				}
			}
			
			function colorDayWithEvents(dayWithEventsVar) {
				for(var i=0; i<dayWithEventsVar.length; i++) {
					document.getElementById('cell'+dayWithEventsVar[i]).className = "mainCellEvent";
				}
			}
			
			
			var selected = 0;
			var pos_top = (window.innerHeight / 2) - 40 - 125;
			var pos_left = (window.innerWidth / 2) - 40 - 175;

			function openWindow(i,day) {
				if(i == 1) { // click no event > add
					document.getElementById('popup').setAttribute('style', 'top:'+pos_top+'px;left:'+pos_left+'px;display:block;');
					document.getElementById('popup_titre').innerHTML = day +'/'+ (month+1) + " Add an event";
					document.getElementById('popup_contenu').innerHTML = '<br /><input type="text" name="nameEvent" class="bouton_style" style="text-align:center;" id="addField1" placeholder="Name your event here" required/>'+
					'<br />Start <input type="text" class="bouton_style" id="datepicker1" style="text-align:center;width:100px;" value="'+year+'-'+(month+1)+'-'+day+'" /><input type="text" name="dateEvent" class="bouton_style" id="hourpicker1" style="text-align:center;width:75px;" placeholder="hh:mm" required/><br />'+
					'End <input type="text" class="bouton_style" id="datepicker2" style="text-align:center;width:100px;" value="'+year+'-'+(month+1)+'-'+day+'" /><input type="text" name="dateEvent" class="bouton_style" id="hourpicker2" style="text-align:center;width:75px;" placeholder="hh:mm" required/><br />'+
					'<input type="text" name="locationEvent" class="bouton_style" style="text-align:center;" id="addField2" placeholder="Location" required/><br />'+
					'<input type="submit" class="bouton_style" value="Add" onclick="addEvent(document.getElementById(\'addField1\').value,document.getElementById(\'addField2\').value,document.getElementById(\'datepicker1\').value+\' \'+document.getElementById(\'hourpicker1\').value,'+
					'document.getElementById(\'datepicker2\').value+\' \'+document.getElementById(\'hourpicker2\').value);openWindow(0,0);"/>'+
					'<input type="button" class="bouton_style" value="Cancel" onclick="openWindow(0,0);"/>';
					$(function() {
						$( "#datepicker1" ).datepicker({ dateFormat: 'yy-mm-dd' });
						$( "#datepicker2" ).datepicker({ dateFormat: 'yy-mm-dd' });
					});
				} else if(i == 2) { // just add
					document.getElementById('popup').setAttribute('style', 'top:'+pos_top+'px;left:'+pos_left+'px;display:block;');
					document.getElementById('popup_titre').innerHTML = "Add an event";
					document.getElementById('popup_contenu').innerHTML = '<br /><input type="text" name="nameEvent" class="bouton_style" style="text-align:center;" id="addField1" placeholder="Name your event here" required/>'+
					'<br />Start <input type="text" class="bouton_style" id="datepicker1" style="text-align:center;width:100px;" placeholder="yyyy-mm-dd" /><input type="text" name="dateEvent" class="bouton_style" id="hourpicker1" style="text-align:center;width:75px;" placeholder="hh:mm" required/><br />'+
					'End <input type="text" class="bouton_style" id="datepicker2" style="text-align:center;width:100px;" placeholder="yyyy-mm-dd" /><input type="text" name="dateEvent" class="bouton_style" id="hourpicker2" style="text-align:center;width:75px;" placeholder="hh:mm" required/><br />'+
					'<input type="text" name="locationEvent" class="bouton_style" style="text-align:center;" id="addField2" placeholder="Location" required/><br />'+
					'<input type="submit" class="bouton_style" value="Add" onclick="addEvent(document.getElementById(\'addField1\').value,document.getElementById(\'addField2\').value,document.getElementById(\'datepicker1\').value+\' \'+document.getElementById(\'hourpicker1\').value,'+
					'document.getElementById(\'datepicker2\').value+\' \'+document.getElementById(\'hourpicker2\').value);openWindow(0,0);"/>'+
					'<input type="button" class="bouton_style" value="Cancel" onclick="openWindow(0,0);"/>';
					$(function() {
						$( "#datepicker1" ).datepicker({ dateFormat: 'yy-mm-dd' });
						$( "#datepicker2" ).datepicker({ dateFormat: 'yy-mm-dd' });
					});
				} else if(i == 3) { // event > select action
					document.getElementById('popup').setAttribute('style', 'top:'+pos_top+'px;left:'+pos_left+'px;display:block;');
					document.getElementById('popup_titre').innerHTML = day +'/'+ (month+1);
					document.getElementById('popup_contenu').innerHTML = '<br /><br /><input type="button" class="bouton_style" value="Add an event" onclick="openWindow(0);"/><br /><input type="button" class="bouton_style" value="Delete" onclick="openWindow(0);"/>';
				} else { // close popup
					document.getElementById('popup').setAttribute('style', 'display:none;');
				}
			}
			function openWindow2(id,desc,loc,date1,hour1,date2,hour2) {
				document.getElementById('popup').setAttribute('style', 'top:'+pos_top+'px;left:'+pos_left+'px;display:block;');
				document.getElementById('popup_titre').innerHTML = "Update an event";
				document.getElementById('popup_contenu').innerHTML = '<br /><input type="text" name="nameEvent" class="bouton_style" style="text-align:center;" id="addField1" value="'+desc+'" required/>'+
				'<br />Start <input type="text" class="bouton_style" id="datepicker1" style="text-align:center;width:100px;" value="'+date1+'" /><input type="text" name="dateEvent" class="bouton_style" id="hourpicker1" style="text-align:center;width:75px;" value="'+hour1+'" required/><br />'+
				'End <input type="text" class="bouton_style" id="datepicker2" style="text-align:center;width:100px;" value="'+date2+'" /><input type="text" name="dateEvent" class="bouton_style" id="hourpicker2" style="text-align:center;width:75px;" value="'+hour2+'" required/><br />'+
				'<input type="text" name="locationEvent" class="bouton_style" style="text-align:center;" id="addField2" value="'+loc+'" required/><br />'+
				'<input type="submit" class="bouton_style" value="Update" onclick="updateEvent(\''+id+'\',document.getElementById(\'addField1\').value,document.getElementById(\'addField2\').value,document.getElementById(\'datepicker1\').value+\' \'+document.getElementById(\'hourpicker1\').value,'+
				'document.getElementById(\'datepicker2\').value+\' \'+document.getElementById(\'hourpicker2\').value);openWindow(0,0);"/>'+
				'<input type="button" class="bouton_style" value="Cancel" onclick="openWindow(0,0);"/>';
				$(function() {
					$( "#datepicker1" ).datepicker({ dateFormat: 'yy-mm-dd' });
					$( "#datepicker2" ).datepicker({ dateFormat: 'yy-mm-dd' });
				});
			}

			function addEvent(description,location,startTime,endTime) {	/*PROBLEM : Send empty data*/
				$.ajax({
					url: "api/event/",
					dataType: "json",
					contentType : 'application/json',
					type : "POST",
					data: JSON.stringify({
						"description": description,
						"location": location,
						"startTime": startTime,
						"endTime": endTime,
						"attendees" : ["example@gmail.com"]}),
					success : function(r) {
					  window.location.reload(true);
					},
                    error: function(response) {
                        alert("Creation failed: " + JSON.stringify( response.responseJSON))
                    }
				})
			}

			function delEvent(id) {
			  $.ajax({
				url: "api/event/"+id,
				dataType: "json",
				type : "DELETE",
				success : function(r) {
                    window.location.reload(true)
				},
              error: function(response) {
                  alert("Delete failed: " + JSON.stringify( response.responseJSON))
              }
			  });
			}

			function updateEvent(id,description,location,startTime,endTime) {
                $.ajax({
				url: "api/event/"+id,
				dataType: "json",
                contentType: "application/json",
				type : "PUT",
				data: JSON.stringify({
					"description": description,
					"location": location,
					"startTime": startTime,
					"endTime": endTime,
					"attendees" : ["example@gmail.com"]}),
				success : function(r) {
                    window.location.reload(true)
				},
                error: function(response) {
                    alert("Update failed: " + JSON.stringify(response.responseJSON));
                }
			  });
			}	
			
			function findEvent(value) {
				$.ajax({
				url: "api/event?searchQuery="+value,
				dataType: "json",
                contentType: "application/json",
				type : "GET",
				success : function(r) {
					if (jsonData == "") { jsonData = r; 
						loadEvents(jsonData,monthJS);
						showEvents();
						getCalendar(month,year,0);
						colorDayWithEvents(dayWithEvents);
					}
                    loadEvents(r);
					showEvents();
				},
                error: function(response) {
                    alert("Search failed: " + JSON.stringify(response.responseJSON));
                }
			  });
			}
			
			function syncTo() {
				$.ajax({
				url: "api/sync-to",
				dataType: "json",
                contentType: "application/json",
				type : "POST",
				success : function(r) {
                    alert("Calendar synchronized to Google");
				},
                error: function(response) {
                    alert("Sync-to failed: " + JSON.stringify(response.responseJSON));
                }
			  });
			}
			
			function syncFrom() {
				$.ajax({
				url: "api/sync-from",
				dataType: "json",
                contentType: "application/json",
				type : "POST",
				success : function(r) {
                    alert("Calendar synchronized from Google");
					window.location.reload(true)
				},
                error: function(response) {
                    alert("Sync-to failed: " + JSON.stringify(response.responseJSON));
                }
			  });
			}

			findEvent("");
			
		</script>
    </body>
</html>



